<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Home Page</title>


    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/home-page.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/sspcomp.css')}}">

    </head>

    <body>


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="" class="logo sspLogo">SSP<em> Rupnagar District</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <!-- <li class="scroll-to-section"><a href="" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="challan.html">Challan</a></li>
                            <li class="scroll-to-section"><a href="">Investigation</a></li>
                            <li class="scroll-to-section"><a href="recovery.html">Recovery</a></li> -->
                            <!-- <li class="scroll-to-section"><a href="">Logout</a></li>  -->



                         <!-- list options -->
                         <!-- <span class="custom-dropdown big">
                            <select>
                                <option>Police Station 1</option>
                                <option>Police Station 2</option>
                                <option>Police Station 3</option>
                                <option>Police Station 4</option>
                                <option>Police Station 5</option>
                                <option>Police Station 6</option>
                                <option>Police Station 7</option>
                                <option>Police Station 8</option>
                                <option>Police Station 9</option>
                                <option>Police Station 10</option>
                                <option>Police Station 11</option>
                                <option>Police Station 12</option>

                            </select>
                        </span>

                        <span class="custom-dropdown big">
                            <select>
                                <option>Police Station 1</option>
                                <option>Police Station 2</option>
                                <option>Police Station 3</option>
                                <option>Police Station 4</option>
                                <option>Police Station 5</option>
                                <option>Police Station 6</option>
                                <option>Police Station 7</option>
                                <option>Police Station 8</option>
                                <option>Police Station 9</option>
                                <option>Police Station 10</option>
                                <option>Police Station 11</option>
                                <option>Police Station 12</option>

                            </select>
                        </span>
                        <span class="custom-dropdown big">
                            <select>
                                <option>Type of Graph</option>
                                <option>Police Station 2</option>
                                <option>Police Station 3</option>
                                <option>Police Station 4</option>
                                <option>Police Station 5</option>
                                <option>Police Station 6</option>
                                <option>Police Station 7</option>
                                <option>Police Station 8</option>
                                <option>Police Station 9</option>
                                <option>Police Station 10</option>
                                <option>Police Station 11</option>
                                <option>Police Station 12</option>

                            </select>
                        </span> -->


                            <!-- <li class="main-button"><a href="">Logout</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a> --> -->
                        <!-- ***** Menu End ***** -->
                    </nav>

                    <div class="sidenav">

                        <div class="side-menu-options">
                            <a href="" class="side-label ">Police Station 1</a>
                            <span class="custom-dropdown big">
                                <select class="side-options">
                                    <option value="hide">Police Station 1</option>
                                    <option>Police Station 1</option>
                                    <option>Police Station 2</option>
                                    <option>Police Station 3</option>
                                    <option>Police Station 4</option>
                                    <option>Police Station 5</option>
                                    <option>Police Station 6</option>
                                    <option>Police Station 7</option>
                                    <option>Police Station 8</option>
                                    <option>Police Station 9</option>
                                    <option>Police Station 10</option>


                                </select>
                            </span>

                            <div class="side-menu-options">
                            <a href="" class="side-label ">Police Station 1</a>
                            <span class="custom-dropdown big">
                                <select class="side-options">

                                    <option value="hide">Police Station 2</option>
                                    <option>Police Station 1</option>
                                    <option>Police Station 2</option>
                                    <option>Police Station 3</option>
                                    <option>Police Station 4</option>
                                    <option>Police Station 5</option>
                                    <option>Police Station 6</option>
                                    <option>Police Station 7</option>
                                    <option>Police Station 8</option>
                                    <option>Police Station 9</option>
                                    <option>Police Station 10</option>

                                </select>
                            </span>
                            </div>

                            <div class="side-menu-options">
                                <a href="" class="side-label ">Graph Type</a>
                            <span class="custom-dropdown big">
                                <select class="side-options">
                                    <a href="" class="side-label ">Graph type</a>
                                    <option value="hide">Graph Type</option>
                                    <option>Bar Graph</option>
                                    <option>Pie Chart</option>


                                </select>
                            </span>
                            </div>


                        </div>

                        <!-- <a href="">Police Station 2</a> -->
                        <!-- <a href="">Graph Type</a> -->

                    </div>
                </div>
            </div>
        </div>
    </header>


  </body>
</html>