<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Investigation Table</title>
          <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="//cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" rel="stylesheet">
     <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script>
    $(document).ready(function() {
    $('#example').DataTable({
           'paging': true,
           'lengthChange': true,
      'aLengthMenu': [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
        'iDisplayLength': 5,
        'searching':false,
        dom: 'Bfrtip',
        buttons: [
            'excel'
        ]
       });
} );

</script>
</head>
<body>
<div class="container" style="max-width: 97%;margin-left: 5px; border: 2px solid dark grey; margin-top:1%">
 <div class="row">
 <p><h2>Investigation Table </h2>  </p>
           <div style="overflow-x:auto;">

  <table id="example" class="table table-striped table-bordered" style="width:100%;overflow-x:auto; width:100%;
    border: 2px solid;   margin-top: 10px;">
        <thead>
            <tr>

                <th>Date </th>
                <th>Pending_UI</th>
                <th>Dispose_UI</th>
				<th>Pending_UT</th>
                <th>Dispose_UT</th>
				<th>less than 3 months Pending_UI</th>
                <th>less than 3 months Dispose_UI</th>
				<th>more than 3 months Pending_UI</th>
                <th>more than 3 months Dispose_UI</th>
				<th>more than 6 months Pending_UI</th>
                <th>more than 6 months Dispose_UI</th>
				<th>more than 12 months Pending_UI</th>
                <th>more than 12 months Dispose_UI</th>
                <th>        </th>

            </tr>
        </thead>
        <tbody>
   {% for d in data %}
   <tr>

                <td>{{d[2]}}</td>
                <td>{{d[4] }}</td>
                <td>{{d[5] }}</td>
                <td>{{d[6]}}</td>
                <td>{{d[7] }}</td>
	             <td>{{ d[14]}}</td>
	              <td>{{ d[15]}}</td>
                <td>{{ d[8]}}</td>
	             <td>{{ d[9]}}</td>
	             <td>{{ d[10]}}</td>
	              <td>{{ d[11]}}</td>
	             <td>{{ d[12]}}</td>
	              <td>{{ d[13]}}</td>
                    <td><a href="edit_investigation/{{d[0]}}" class="btn btn-default pull-right" style="background-color: lightblue;">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
<!--        <tfoot>-->
<!--            <tr>-->
<!--                <th>Date </th>-->
<!--                <th>Pending_UI</th>-->
<!--                <th>Dispose_UI</th>-->
<!--				<th>Pending_UT</th>-->
<!--                <th>Dispose_UT</th>-->
<!--				<th>less than 3 months Pending_UI</th>-->
<!--                <th>less than 3 months Dispose_UI</th>-->
<!--				<th>more than 3 months Pending_UI</th>-->
<!--                <th>more than 3 months Dispose_UI</th>-->
<!--				<th>more than 6 months Pending_UI</th>-->
<!--                <th>more than 6 months Dispose_UI</th>-->
<!--				<th>more than 12 months Pending_UI</th>-->
<!--                <th>more than 12 months Dispose_UI</th>-->
<!--                 <th>        </th>-->
<!--            </tr>-->
<!--        </tfoot>-->
    </table>
  </div>
 </div>
</div>



</body>
</html>